<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <p>{{message}}</p>
  <div class="row" style="height: 40%">
    <div class="col" style="text-align: left; margin-top: auto;">
      <label class="control-label" for="inputUser">Nombre de Usuario</label>
      <input #usuario type="email" class="form-control" id="inputUser">
    </div>
  </div>
  <br>
  <div class="row" style="height: 40%">
    <div class="col" style="text-align: left; margin-top: auto;">
      <label for="inputPassword">Password</label>
      <input #password type="password" class="form-control" id="inputPassword">
    </div>
  </div>
  <br>
</div>

<div mat-dialog-actions>
  <div class="col" style="text-align: center; margin-top: auto;">
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="login(usuario.value, password.value)">Acceder</button>
  </div>
</div>



