<form>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleSelect2">Example multiple select</label>
          <select multiple="" class="form-control" id="exampleSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

      </div>

      <div class="col-md-6">

        <fieldset>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo Electrónico (UNIZAR)</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">No se compartirá tu email bajo ninguna circunstancia.</small>
          </div>
          <div class="form-group">
            <label for="inputName">Nombre</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nombre">
          </div>
          <div class="form-group">
            <label for="inputApellidos">Apellidos</label>
            <input type="text" class="form-control" id="inputApellidos" placeholder="Apellidos">
          </div>
          <div class="form-group">
            <label for="inputNIA">NIA</label>
            <input type="text" class="form-control" id="inputNIA" placeholder="NIA">
          </div>
          <div class="form-group">
            <label for="inputTlf">Teléfono</label>
            <input type="text" class="form-control" id="inputTlf" placeholder="Teléfono">
          </div>

          <button type="submit" class="btn btn-primary">Solicitar</button>
        </fieldset>
      </div>

    </div>
  </div>

</form>
