<div class="row">
  <div class="col-sm-6">
    <table class="table table-hover">

      <tbody>
      <tr class="table-active">
        <th scope="row">Edificio</th>
        <td>{{ datosReserva.idEspacio }}</td>
      </tr>
      <tr class="table-dark">
        <th scope="row">Fecha Inicio</th>
        <td>{{ datosReserva.fechaInicio }}</td>
      </tr>
      <tr class="table-dark">
        <th scope="row">Fecha Fin</th>
        <td>{{ datosReserva.fechaFin }}</td>
      </tr>
      <tr class="table-dark">
        <th scope="row">Hora de entrada</th>
        <td>{{ datosReserva.horaInicio }}</td>
      </tr>
      <tr class="table-dark">
        <th scope="row">Hora de salida</th>
        <td>{{ datosReserva.horaFin }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-6">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <button type="button"  class="btn btn-primary btn-lg">Aceptar</button>
    </div>
    <br>
    <br>
    <div class="row">
      <button type="button" class="btn btn-primary btn-lg">Rechazar</button>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-5">

  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <label for="exampleTextarea">Motivo de rechazo</label>
      <textarea class="form-control" id="exampleTextarea" rows="8"></textarea>
    </div>
  </div>
  <div class="col-sm-1">

  </div>
</div>
