<div class="row">
  <div class="col-sm-4">


  </div>
  <div class="col-sm-4">

  </div>
  <div class="col-sm-4">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <button routerLink="inicio" type="submit" class="btn btn-primary btn-lg">Aceptar</button>
    </div>
    <br>
    <br>
    <div class="row">
      <button routerLink="inicio" type="submit" class="btn btn-primary btn-lg">Rechazar</button>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-4">

  </div>
  <div class="col-sm-7">
    <div class="form-group">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <label for="exampleTextarea">Motivo de rechazo</label>
      <textarea class="form-control" id="exampleTextarea" rows="5"></textarea>
    </div>
  </div>
  <div class="col-sm-1">

  </div>
</div>
