 <div class="jumbotron">
    <h2> Reservas EINA </h2>
 </div>
 <div class="container-fluid">
   <br>
   <div class="row">
     <div class="col-sm-5">
       <button routerLink="gerencia" type="button" class="btn btn-primary btn-lg" >Acceso Gerencia</button>
     </div>
     <div class="col-sm-4">
       <button routerLink="app" type="button" class="btn btn-primary btn-lg">Buscar</button>
     </div>
     <div class="col-sm-3">
       <button routerLink="reserva" type="button" class="btn btn-primary btn-lg">Tramitar</button>
     </div>
   </div>
   <br>
   <div class="row">
     <div class="col-sm-12"><router-outlet></router-outlet></div>
   </div>

 </div>
