<div class="jumbotron" style="padding: 1vh 2vh">
  <div class="row">
    <h2> Modificar Datos </h2>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="col-sm-5">
        <div class="row">
          <div class="form-group">
            <label for="edificio">Edificio</label>
            <select #id class="form-control" id="edificio">
              <option>Ada Byron</option>
              <option>Torres Quevedo</option>
              <option>Betancourt</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group">
            <label for="espacio">Tipo de Espacio</label>
            <select class="form-control" id="espacio">
              <option selected="">Seleccionar</option>
              <option value="1">Laboratorio</option>
              <option value="2">Aula</option>
              <option value="3">Despacho</option>
              <option value="4">Baño</option>
              <option value="5">Cafetería</option>
              <option value="6">Sala de conferencias</option>
              <option value="7">Almacén</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group">
            <select multiple="" class="form-control" id="eleccion">
              <option>Lab 0.01</option>
              <option>Lab 0.02</option>
              <option>Lab 0.03</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="capacidad">Capacidad</label>
            <select #capacidad class="form-control" id="capacidad">
              <option>20</option>
              <option>30</option>
              <option>40</option>
            </select>
          </div>
        </div>
        <div class="col-sm-7">
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input #equipamiento type="radio" class="form-check-input" name="optionsRadios" id="equipamiento1" value="option1" checked="">
                Pizarra
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="equipamiento2" value="option2">
                Cañón
              </label>
            </div>
          </fieldset>
        </div>
      </div>
      <br>
      <br>
      <div class="row" style="text-align: left; margin-top: auto; margin-right: 25%">
        <div class="form-group">
          <label for="exampleTextarea">Añadir nota</label>
          <textarea #notas class="form-control" id="exampleTextarea" rows="5" cols="50"></textarea>
        </div>
      </div>
      <br>
      <div class="row" style="text-align: left; margin-top: auto; margin-right: 25%">
        <div class="col-sm-6"> <button type="button" class="btn btn-primary btn-lg btn-block">Horario</button></div>
        <div class="col-sm-6"><button (click)="modEspacio(id, equipamiento, capacidad, notas)" type="button" class="btn btn-primary btn-lg btn-block">Guardar</button></div>
      </div>
    </div>
  </div>
</div>





