<div style="text-align: center; margin: auto" class="row">
  <div style="width: 70%">
    <table class="table">
      <tr>Nombre: {{espacio.nombre}}</tr>
      <tr>Tipo: {{espacio.tipo}}</tr>
      <tr>Edificio: {{espacio.ubicacion.edificio}}, planta: {{espacio.ubicacion.planta}}</tr>
      <tr>Capacidad: {{espacio.capacidad}}</tr>
      <br>
      <tr>Equipamiento:</tr>
      <tr *ngFor="let equipamiento of espacio.equipamiento">
        {{equipamiento.tipo.toString()}}, cantidad: {{equipamiento.cantidad}}
      </tr>
    </table>
  </div>
  <div style="width: 30%">
    <button mat-button class="btn btn-primary" style="height:50px; width:150px; font-size: 25px;"
            (click)="goToHorario()">Ver horario
    </button>
  </div>
</div>
<div mat-dialog-actions>
  <div class="col" style="text-align: center; margin: auto;">
    <button mat-button style="height:50px; width:150px; font-size: 25px;" (click)="onCancelClick()">Volver</button>
  </div>
</div>
