<form>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-3">
            <button routerLink="inicio" type="submit" class="btn btn-secondary">Salir</button>
          </div>
          <div class="col-sm-3">
            <button routerLink="reservas" type="submit" class="btn btn-primary">Espacios</button>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <fieldset>
          <div class="form-group">
            <label for="reservasPendientes">Reservas Pendientes</label>
            <select multiple="" class="form-control" id="reservasPendientes">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputName">Nombre</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nombre">
          </div>
          <div class="form-group">
            <label for="inputApellidos">Apellidos</label>
            <input type="text" class="form-control" id="inputApellidos" placeholder="Apellidos">
          </div>
          <div class="form-group">
            <label for="inputNIA">NIA</label>
            <input type="text" class="form-control" id="inputNIA" placeholder="NIA">
          </div>
          <div class="form-group">
            <label for="inputTlf">Teléfono</label>
            <input type="text" class="form-control" id="inputTlf" placeholder="Teléfono">
          </div>

        </fieldset>
      </div>

    </div>
  </div>

</form>
