<div class="row" style="text-align: center; margin: auto; padding-top: 1vh; padding-bottom: 1vh">
  <div class="col-sm-6">
    <button mat-button class="btn btn-secondary" style="width:80%; font-size: 25px; padding-top: 1vh; padding-bottom: 1vh"
            (click)="logout()" type="button">Cerrar sesión</button>
  </div>
  <div class="col-sm-6">
    <button mat-button style="width:80%; font-size: 25px; padding-top: 1vh; padding-bottom: 1vh"
            (click)="goEspacios()" type="button">Espacios</button>
  </div>
</div>
<div class="jumbotron" style="text-align: center;">
  <div class="row">
    <div class="col-sm-6" style="text-align: center;">
      <div class="form-group">
        <div>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">NIA</th>
              <th scope="col">id Espacio</th>
              <th scope="col">Fechas</th>
              <th scope="col">Horas</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reserva of reservas">
              <td>{{ reserva.usuario.nia }}</td>
              <td>{{ reserva.idEspacio }}</td>
              <td>{{reserva.fechaInicio.getDate()}}/{{reserva.fechaInicio.getMonth() + 1}}/{{reserva.fechaInicio.getFullYear()}}
                - {{reserva.fechaFin.getDate()}}/{{reserva.fechaFin.getMonth() + 1}}/{{reserva.fechaFin.getFullYear()}}</td>
              <td>{{ reserva.horaInicio }} - {{ reserva.horaFin + 1 }}</td>
              <td><button mat-button style="width:80%" (click)="goAccept(reserva)">Gestionar reserva</button></td>
            </tr>
            </tbody>
          </table>
          <div *ngIf="reservas.length == 0" style="text-align: center;">
            <br>
            <div *ngIf="!cargando">
              <h4>{{this.mensajeInformacion}}</h4>
            </div>
            <div *ngIf="cargando">
              <h4>{{this.mensajeInformacion}}
                <div class="spinner-border" role="status">
                  <span class="sr-only"></span>
                </div>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6" style="text-align: center;">
      <fieldset>
        <h2>Reservas Pendientes</h2>
        <div class="row">
          <div class="col-sm-6" >
            <label for="edificio">Edificio</label>
            <select class="form-control" id="edificio">
              <option value="Ada Byron">Ada Byron</option>
              <option value="Torres Quevedo">Torres Quevedo</option>
              <option value="Betancourt">Betancourt</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label>Fecha Fin</label>
            <input id="fechaFinal" min="2020-01-01" max="2022-1-1" type="date" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label for="tipoEspacio">Tipo de espacio</label>
            <select class="form-control" id="tipoEspacio">
              <option value="Aula">Aula</option>
              <option value="Laboratorio">Laboratorio</option>
              <option value="Seminario">Seminario</option>
              <option value="Sala">Sala</option>
              <option value="Salon de actos">Salon de actos</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label>Hora de entrada (08-21)</label>
            <select id="horaEntrada" class="form-control">
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
            </select>
          </div>
        </div>
        <div class="row"  style="text-align: center;">
          <div class="col-sm-6">
            <label>Fecha de inicio</label>
            <input id="fechaInicio" min="2019-12-31" max="2021-12-31" type="date" class="form-control">
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Hora de salida (09-22)</label>
              <select id="horaSalida" class="form-control">
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row" style="text-align: center;">
          <div class="col-sm-6">
            <label for="edificio">Estado</label>
            <select class="form-control" id="estado">
              <option value="Pendientes">Pendientes</option>
              <option value="Aceptadas">Aceptadas</option>
            </select>
          </div>
          <div class="col-sm-6" style="margin: auto;">
            <button (click)="getReservas()" type="button" class="btn btn-primary btn-large">Aplicar</button>
          </div>
        </div>

      </fieldset>
    </div>

  </div>

</div>

